<Layouts.app flash={@flash}>
<h1>Main Page</h1>
<p>Welcome to the main page!</p>
<%!-- Button that takes you to https://www.bungie.net/en/oauth/authorize?client_id=50681&response_type=code&state=hello_world --%>
<a href="https://www.bungie.net/en/oauth/authorize?client_id=50681&response_type=code&state=hello_world">
  <button class="btn btn-primary">Go to OAuth</button>
</a>
</Layouts.app>